{% extends "base.html" %}

{% block title %}Check your email{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="mb-4 text-center text-success">Check your email</h2>
                    <p class="text-center">
                       if the account exists at the email address you provided, you will shortly receive an email with a link to change your password
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-primary w-100 mt-3">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}