{% extends 'base.html' %}

{% block title %} Authors {% endblock %}

{% block content %}

<h1 class="mb-5">Authors</h1>

{% for author in authors %}
<div class="d-flex align-items-center mb-3">
    {% if author.photo %}
        <img src="{{ author.photo.url }}"
             class="rounded-circle me-3"
             width="50"
             height="50"
             style="object-fit: cover;"
             alt="{{ author }}">
    {% else %}
        <i class="bi bi-person-circle fs-2 me-3 text-secondary"></i>
    {% endif %}

    <a href="{% url 'author' author.pk %}" class="fw-semibold">
        {{ author }}
    </a>
</div>
<hr>
{% endfor %}

<!--Pagination -->
{% if authors.has_other_pages %}
<div class="container">
    <nav aria-label="...">
        <ul class="pagination pagination-sm justify-content-center">
            {% for i in authors.paginator.page_range %}
            {% if authors.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endif %}
<!--End pagination -->

{% endblock %}

