{% extends 'base.html' %}

{% block title %}Book{% endblock %}
{% load static %}
{% block content %}

{% if book.cover %}
<img
    src="{{ book.cover.url }}"
    alt="{{ book.title }} cover"
    class="img-thumbnail float-start me-3 mb-3"
    style="width: 180px; height: auto;">
{% endif %}

<p><b>"{{ book.title }}"</b> / by {{ book.author }}</p>
<p><i>ISBN: {{ book.isbn }}</i></p>
<p><i>{{ book.display_genre }}</i></p>
<p>{{ book.summary }}</p>

<p><b>Reviews:</b></p>
{% if user.is_authenticated %}
<form method = "post" class = "mb-2" >
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">
    <i class="bi bi-pencil-square"></i> Submit Review
</button>
</form>
{% endif %}
{% for review in book.reviews.all %}
<p> <em>{{ review.reviewer }}, {{ review.date_created }}</em></p>
<p> {{ review.content }}</p>
<hr>
{% empty %}
<p>No reviews available</p>
{% endfor %}

<p><b>Availability:</b></p>

{% for instance in book.instances.all %}
<p>ID: {{ instance.uuid }}</p>

<p class="{% if instance.status == 'a' %}text-success
              {% elif instance.status == 'r' %}text-warning
              {% elif instance.status == 't' %}text-danger
              {% else %}text-secondary{% endif %}">
    {% if instance.status == 'a' %}
    Available
    {% elif instance.status == 'r' %}
    Reserved
    {% elif instance.status == 't' %}
    Taken
    {% else %}
    Administered
    {% endif %}
</p>

{% if instance.due_back %}
<p>Due back: {{ instance.due_back|date:"M d, Y" }}</p>
{% endif %}

<hr>
{% empty %}
<p>No copies available</p>
{% endfor %}

{% endblock %}