{% extends "base.html" %}
{% block title %}Egzemplioriaus trynimas{% endblock %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ištrinti egzempliorių</legend>
            <h2>Ar tikrai norite ištrinti knygos egzempliorių {{ instance.uuid }} ("{{ instance.book.title }}")?</h2>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Taip, ištrinti</button>
                <a class="btn btn-outline-secondary" href="{% url 'instance' instance.pk %}">Atšaukti</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}